.titleHeader, .readMore, .cardLink, .backButton{
  text-decoration: none;
}

.cardLink{
  color: #000;
}

.backButton{
  font-size: 18px;  
  padding: 0px 8px;
  color: #116193;
  transition: 0.5s all;
  border-bottom: 1px solid #fff;
}

.titleHeader{
  color: #00e8e4; 
}

.readMore{
  color: #116193;
  font-size: 17px;
}

.titleHeader:link{
  color: #00e8e4;
}
.readMore:link, .backButton:visited {
  color: #116193;
}

.titleHeader:visited{
  color: #00e8e4;
}
.readMore:visited, .backButton:visited {
  color: #116193;
}


.titleHeader:hover{
  color: #00e8e4;
}
.readMore:hover {
  color: #116193;
}

.backButton:hover{
  border-bottom: 1px solid #116193;
}

.titleHeader:active{
  color: #00e8e4;
}
.readMore:active {
  color: #116193;
}
